<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zifu.mendibile">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mendibile">
        <activity android:name=".Ajustes.AjustesGeneral" android:screenOrientation="portrait"></activity>
        <activity android:name=".Compra.DetalleCompra" android:screenOrientation="portrait"/>
        <activity android:name=".Compra.ListaCompra" android:screenOrientation="portrait"/>
        <activity android:name=".Compra.AgregaCompraGeneral" android:screenOrientation="portrait"/>
        <activity android:name=".Proveedores.DetalleProveedores" android:screenOrientation="portrait"/>
        <activity android:name=".Proveedores.AgregaProveedor" android:screenOrientation="portrait"/>
        <activity android:name=".Proveedores.ListaProveedores" android:screenOrientation="portrait"/>
        <activity android:name=".ListaPlt.AgregaPlato" android:screenOrientation="portrait"/>
        <activity android:name=".ListaPlt.ListaPlatos" android:screenOrientation="portrait"/>
        <activity android:name=".ListaIng.ListaIngredientes" android:screenOrientation="portrait"/>
        <activity android:name=".ListaIng.AgregaIngrediente" android:screenOrientation="portrait"/>
        <activity android:name=".DetallePlatos.DetallePlatos" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zifu.mendibile"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>